list/
obj/
listing/
RTE/
matismart/
DebugConfig/
.pio/
.vscode/
*.crf
*.dep
*.map
*.hex
*.bin
*.bak
*.txt
*.lst
*.uvgu*
*.dep
*.log
*.ewt
*.ewd
out/
Debug/
Release/
settings/
2P/
4P/
RS2P/
RA2P/
RS4P/
RA4P/
*.pyc
.pio/
.vscode/
