.pio/
.vscode/
Change*
CHANGE*
README*
COPY*
*CONTRIBU*
AUTH*
*PATCH*
*.bin
*.out
*.o
~$*
output
RTE
*uvguix*
*.scvd
*.tmp
settings
config
.settings
RTE
output
flashloader
mpu_*
*launch
*jlink
*.board
*.flash
*.html
Objects
# *sc*
*cm23*
*cm3*
*cm7*
*cm1*
*cm0*
*.txt
README*
*.chm
*.bin
*.out
*.dep
*.log
*.ewt
*.ewd
*.sfr
*.icf
*uvgui*
*uvopt*
*.ini
RTE
documents
documentation
Readme.txt
doc
