.pio/
.vscode/
Change*
CHANGE*
README*
COPY*
*CONTRIBU*
AUTH*
*PATCH*
*.bin
*.out
*.o
~$*
settings
config
*.setti*
mpu_*
*launch
*jlink
*.board
*.flash
*.dep
*.log
*.ewt
*.ewd
*.sfr
*.icf
RTE
*_sc*
*cm23*
*cm3*
*cm7*
*cm1*
*cm0*
documents
Readme.txt
*.uvgu*
*.uvopt*
